header {
  display: inline;

  .mobile-brand-logo {
    display: none;
  }

  nav {
    display: flex;
    position: sticky;
    top: 0;
    padding: 20px 10%;
    width: 100%;
    background: white;

    .brand-logo {
      margin-right: 25px;

      img {
        height: 50px;
      }

      &:hover {
        opacity: .6;
      }
    }

    ul {
      padding: 0;

      li {
        display: inline;
        height: 100%;
        padding: 0 25px;

        a {
          text-decoration: none;
          color: $gray-1;
        }

        &:hover {
          opacity: .6;
        }

        &:active {
          opacity: .4;
        }

        &.active {
          opacity: 1;
        }

        &.active a {
          color: $orange;
          opacity: 1;
          cursor: default;
        }
      }
    }

    .profile {
      margin-left: auto;

      img {
        border-radius: 50%;
        height: 50px;
        width: 50px;

        &:hover {
          opacity: .6;
        }
      }
    }
  }
}