main {
  overflow: auto;
  padding: 0 10%;

  #content {
    float: left;
    width: 75%;

    #screenshot {
      margin-bottom: 25px;

      img {
        width: 100%;
        border-radius: 20px;
      }
    }

    article {
      h3 {
        margin: 25px 0 15px 0;
        color: $gray-1;
        border-bottom: 2px solid $orange;
        padding-bottom: 10px;
      }

      p {
        text-align: justify;
        font-weight: lighter;
        margin: 10px 0;
        color: $gray-1;
      }
    }
  }

  aside {
    float: right;
    width: 25%;
    padding-left: 15px;

    #description {
      border-radius: 20px;
      padding: 25px;
      background: $light-gray;

      figure {
        img {
          width: 100%;
        }

        figcaption {
          text-align: center;
          padding-top: 5px;
          font-size: x-small;
          opacity: .5;
        }
      }

      hr {
        background: $orange;
        border: 1px solid $orange;
      }

      h4 {
        margin: 10px 0;
        color: $gray-1;
        font-weight: 400;
      }

      p {
        margin: 0;
        font-size: 12px;
        color: $gray-2;
      }
    }
  }
}

main.user {
  .profile {
    float: left;
    width: 50%;

    h1 {
      font-weight: 500;
      font-size: xx-large;
    }

    p {
      font-weight: 100;
      text-align: justify;
    }

    h3 {
      margin: 0 0 5px 0;
    }

    .contact-me {
      margin: 15px 0 0 0;

      a {
        margin: 0 15px;
        color: $orange;

        &:hover {
          opacity: .6;
        }
      }
    }
  }

  .photo-profile {
    float: right;
    width: 50%;
    padding: 0 100px;

    img {
      width: 100%;
      border-radius: 50%;
    }
  }
}

.mobile-about {
  display: none;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background: $light-gray;
  padding: 25px;
  text-align: center;
  font-weight: 500;
}