@media screen and (max-width: 768px) {
  header {
    .mobile-brand-logo {
      display: block;
      margin: auto;

      img {
        padding: 10px 25px;
        width: 100%;
        height: auto;
      }
    }

    nav {
      padding: 0;
      flex-direction: column;

      .brand-logo {
        display: none;
        padding: 10px 25px;
        margin: auto;

        img {
          width: 100%;
          height: auto;
        }
      }

      ul {
        margin: 20px auto 20px auto;

        li {
          display: inline;
          padding: 5px;
        }
      }

      .profile {
        display: none;
      }
    }
  }

  main {
    padding: 0 15px;

    #content {
      float: left;
      width: 100%;
    }

    aside {
      float: left;
      width: 100%;
      padding: 20px 0 25px 0;
    }
  }

  main.user {
    .profile {
      width: 100%;

      h1 {
        text-align: center;
      }

      h3 {
        text-align: center;
      }

      .contact-me {
        text-align: center;
        padding: 10px 0 20px 0;
      }
    }

    .photo-profile {
      width: 100%;
      padding: 25px 15%;
    }
  }

  .mobile-about {
    text-align: center;
    text-decoration: none;
    color: $gray-1;
    font-weight: bolder;
    display: block;

    &:active {
      color: $orange;
    }
  }
}