@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

$light-gray: #f2f2f2;
$gray-1: #333333;
$gray-2: #828282;
$orange: #F2994A;

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  position: relative;
  min-height: 100%;
  margin: 0;
  padding-bottom: 5rem;
}

/*
Header styles
 */
@import "header";

/*
Main styles
 */
@import "main";

/*
Mobile styles
 */
@import "mobile-768";

/*
Scrollbar
 */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: $light-gray;
}

::-webkit-scrollbar-thumb {
  background: $gray-2;
}

::-webkit-scrollbar-thumb:hover {
  background: $gray-1;
}